:root {
  --padding: 15rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - var(--padding));
  padding-bottom: var(--padding);
}

@media (max-height: 1020px) {
  .home {
    --padding: 10rem;
  }
}

@media (max-height: 790px) {
  .home {
    --padding: 1rem;
  }
}

.description {
  font-size: 1.5rem;
  max-width: 550px;
  margin: 0;
}
